@media (max-width: 1000px) {
    .gpa-card {
            background-color: #ddebde;
            border: 2px solid #c8d1d3;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 400px){
    .profile {
        font-size: 0.8rem;
    }
}

.cr-input {
    width: 70px;
}
.grd-input{
    padding: 3px;
    width: 40px;
    outline: 1px solid black;
    border: none;
    box-shadow: 0 0 10px rgb(5, 73, 5);
}

input{
    display:block;
    box-shadow: 0 0 10px rgb(5, 73, 5);
    padding: 3px;
    border: none;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    margin: 0 auto;
}
input:focus{
    outline: 1px solid black;
}

.calc-btn {
    margin-top: 20px;
    box-shadow: 0 0 10px rgb(238, 46, 46);
    border-radius: 7px;
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    background-color: rgba(12, 241, 69, 0.795);
    font-size: 0.8rem;
    border: none;
}
.add-btn {
    border-radius: 3px;
    padding: 3px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    
    font-size: 0.8rem;
    box-shadow: 0 0 10px rgb(5, 73, 5);
    border: none;
}
.intro{
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
    width: 90%;
    max-width: 400px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
}
body{
    background-image: url("../images/observe_gpa.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}