<!DOCTYPE html>
<html>
<head>
    <title>Gpa_display_page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='gpa_view.css')}}">
</head>
<body>
    <div class="show">
        <h2>GPA_INFORMATION</h2>
        <p>Student_name: {{s_name}}</p>

        <p>Subject_1: {{subject_1}}</p>
        <p>Credit_hour_1: {{cr_1}}</p>
        <p>Grade_1: {{grade_1}}</p>

        <p>Subject_2: {{subject_2}}</p>
        <p>Credit_hour_2: {{cr_2}}</p>
        <p>Grade_2: {{grade_2}}</p>

        <p>Subject_3: {{subject_3}}</p>
        <p>Credit_hour_3: {{cr_3}}</p>
        <p>Grade_3: {{grade_3}}</p>

        <div class="gpa">
            <h3>Total_credits: {{total_credits}}</h3>
            <h3>Total_sum: {{total_sum}}</h3>
            <h3>Final_gpa: {{final_gpa}}</h3>
            <h3>Comment: {{gpas[0]}}</h3>
        </div>
    </div>
</body>

</html>