<!DOCTYPE html>
<html>
<head>
    <title>Student_info_page</title>
    <meta charset="UTF-8"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/gpa.css')}}">
</head>
<body>
    <div class="profile">
        <form action="/info" method="POST">
            <h1>GPA DETAILS</h1>
            <div class="student">

                <label>Enter your name:</label>
                <input type="text" name="s_name">
                <table>
                    <thead>
                        <tr>
                            <th>Subjects</th>
                            <th>Credits</th>
                            <th>Grades</th>
                            <th></th>
                        </tr>
                    </thead>     
                    <tbody id="table-body">
                        <tr>
                            <td><input type="text" name="subject"></td>
                            <td><input type="number" name="credit_hour"></td>
                            <td><input type="text" name="grade"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="subject"></td>
                            <td><input type="number" name="credit_hour"></td>
                            <td><input type="text" name="grade"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button>Calculate_Gpa</button>
            <button id="add">Add_row</button>
            <script src="script/gpa_script.js" defer></script>
        </form>
    </div>
</body>
</html>