<!DOCTYPE html>
<html>
<head>
    <title>Gpa_display_page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='gpa_view.css')}}">
</head>
<body>
    <div class="show">
        <h2>GPA_INFORMATION</h2>
        <p class="s_name">Student_name: {{s_name}}</p>
        <table>
            <tr>
                <th>Subjects:</th>
                <th>Credit_hours:</th>
                <th>Grades:</th>
            </tr>
            <tr>
                <td>
                    <p class="sub">{{subject_1}}</p>
                    <p class="sub">{{subject_2}}</p>
                    <p class="sub">{{subject_3}}</p>
                </td>
                <td>
                    <p class="cr">{{cr_1}}</p>
                    <p class="cr">{{cr_2}}</p>
                    <p class="cr">{{cr_3}}</p>
                </td>
                <td>
                    <p class="gr">{{grade_1}}</p>
                    <p class="gr">{{grade_2}}</p>
                    <p class="gr">{{grade_3}}</p>
                </td>
            </tr>
        </table>
        <div class="gpa">
            <h3>Total_credits: {{total_credits}}</h3>
            <h3>Total_sum: {{total_sum}}</h3>
            <h3>Final_gpa: {{final_gpa}}</h3>
            <h3>Comment: {{gpas[0]}}</h3>
        </div>
        <button type="button" class="back-btn" onclick="history.back()">Go back</button>
    </div>
</body>

</html>